<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
	</head>
	<body>
		<ul>
			<li><a th:href="@{/}">Főoldal</a></li>
			<li><a th:href="@{/login}">Bejelentkezés</a></li>
			<li><a th:href="@{/user/profil}">Profil</a></li>
			<li><a th:href="@{/user/vote}">Szavazás</a></li>
		</ul>
		<h1 th:text="${inProgressText}">In progress...</h1>
		
	</body>
</html>