<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Szerelemes pároknak szerelem lakatjainak megosztó felülete">
    <meta name="author" content="Bognár Olivér">

    <title>Szerelemlakat fal</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link th:href="@{/vendor/magnific-popup/magnific-popup.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/creative.min.css}" rel="stylesheet">
	<link th:href="@{/css/index-custom.css}" rel="stylesheet">
	

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Szerelemlakat fal</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/}">Főoldal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/user/profil}" sec:authorize="isAuthenticated()">Profil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/login/facebook}" sec:authorize="isAnonymous()">Bejelentkezés</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/logout}" sec:authorize="isAuthenticated()">Kijelentkezés</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase text-dark" id="banner-title">
              <strong>Szerelem az örökké valóságnak</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="mb-5 text-dark" id="banner-text">"Amikor ma éjjel elalszol, ne feledd, hogy egyazon csillagok alatt fekszünk." - Shawn Mendes. </p>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
      	<div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">A legjobban kedvelt lakatok</h2>
        <hr class="light my-4">
        </div>
        <div class="row">
            <div th:each="image : ${imageList}" class="col-xs-2 col-sm-3 col-md-4 mx-auto text-center" id="index-pictures">
         		<a th:href="@{/public/public_profile/{publicProfileId} (publicProfileId = ${image.secondaryOwnerId})} ">
					<img th:src="*{''+image.url}" class="img-responsive" width="200" height="200">
				</a>
			</div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Kiknek szól a szerelemlakat fal?</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Új párkapcsolatban élőknek</h3>
              <p class="text-muted mb-0">Kezdjétek avval boldog ismerettségeteket, hogy megörökítitek közös pillanaitokat és örökké lakatba zárjátok.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Tartós párkapcsolatban élőknek</h3>
              <p class="text-muted mb-0">Egy régóta fennálló ismerettség bizony sok emléket szül, melyet megörökíthettek az idők végezetéig egy lakatba zárva.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">Kezd el akár már most. Oszd meg ismerőseid és baráti köreidben az általad készített lakatokat!</h2>
        <a class="btn btn-light btn-xl sr-button" th:href="@{/login}" sec:authorize="isAnonymous()"><span class="text-uppercase">Jelentkezz be!</span></a>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Kérdésed van? Az alábbi elérhetőségen keresztül tudsz nekünk üzenni.</h2>
            <hr class="my-4">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:szerelemlakatfal@gmail.com">szerelemlakatfal@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/vendor/scrollreveal/scrollreveal.min.js}"></script>
    <script th:src="@{/vendor/magnific-popup/jquery.magnific-popup.min.js}"></script>

    <!-- Custom scripts for this template -->
    <script th:src="@{/js/creative.min.js}"></script>

  </body>

</html>
