<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Szerelemes pároknak szerelem lakatjainak megosztó felülete">
    <meta name="author" content="Bognár Olivér">

    <title th:text="${userModel.firstName}">Szerelemlakat fal</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link th:href="@{/vendor/magnific-popup/magnific-popup.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/creative.min.css}" rel="stylesheet">
    <link th:href="@{/css/public-profile-custom.css}" rel="stylesheet">
    <link th:href="@{/css/index-custom.css}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Szerelemlakat fal</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/}">Főoldal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/user/profil}" sec:authorize="isAuthenticated()">Profil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/login/facebook}" sec:authorize="isAnonymous()">Bejelentkezés</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/logout}" sec:authorize="isAuthenticated()">Kijelentkezés</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase text-dark" id="banner-title">
              <strong>Szerelem az örökké valóságnak</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="mb-5 text-dark" id="banner-text">"Amikor ma éjjel elalszol, ne feledd, hogy egyazon csillagok alatt fekszünk." - Shawn Mendes. </p>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-dark" id="about">
      <div class="container">
      	<div class="row">
      		<div class="col-md-3">
      			<div>
      				<img th:src="*{''+userModel.profileImage}" class="img-responsive" id="user-profile-picture" width="200" height="200">
      				<hr class="light my-4">
      			</div>
		        <div class="mx-auto bg-light text-dark shadow p-3 mb-5 bg-white rounded" id="user-simple-information">
		        	<header>
		        		<span><b>Név:</b></span>
		        		<span th:text="${userModel.firstName}" id="username"></span>
		        	</header>
		        	<hr class="dark my-4">
		        	<div>
		        		<span><b>Bejelentkezve:</b> </span><span th:text="${userModel.lastLogin}"></span>
		        	</div>
		        	<div>
		        		<span><b>Regisztrált:</b> </span><span th:text="${userModel.registrationDate}"></span>
		        	</div>
		        </div>
      		</div>
		    <div class="col-md-9">
		    	<div class="container">
		    		<div>
		      			<span class="text-white">Felhasználó lakatjai</span>
		      		</div>
		      		<div class="row">
		      			<div th:each="image : ${userImageList}" class="col-xs-6 col-sm-6 col-md-4 col-lg-4" id="user-image-list">
							<a th:href="@{/public/public_picture/{pictureId} (pictureId = ${image.secondaryId})} ">
								<img th:src="*{''+image.url}" width="200" height="200">
							</a>
						</div>
		      		</div>      		
		    	</div>	      		
		    </div>       
        </div>
      </div>
    </section>
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Kérdésed van? Az alábbi elérhetőségen keresztül tudsz nekünk üzenni.</h2>
            <hr class="my-4">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:szerelemlakatfal@gmail.com">szerelemlakatfal@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/vendor/scrollreveal/scrollreveal.min.js}"></script>
    <script th:src="@{/vendor/magnific-popup/jquery.magnific-popup.min.js}"></script>

    <!-- Custom scripts for this template -->
    <script th:src="@{/js/creative.min.js}"></script>

  </body>

</html>
