<!DOCTYPE html>
<html 
	lang="hu" 
	xmlns:th="http://www.thymeleaf.org"
	prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

  <head>
	<meta property="fb:app_id" content="207685563170354" /> 
	<meta property="og:type"   content="website" /> 
	<meta property="og:url"    th:content="@{https://localhost:8443/public/public_picture/{imagePageId} (imagePageId = ${imageVoteModel.secondaryId})}" /> 
	<meta property="og:title"  content="Szerelemlakat fal" /> 
	<meta property="og:image"  th:content="@{https://localhost:8443/public/public_picture/{imagePageId}.png (imagePageId = ${imageVoteModel.secondaryId})}" /> 
	  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Szerelemes pároknak szerelem lakatjainak megosztó felülete">
    <meta name="author" content="Bognár Olivér">

    <title>Szerelemlakat fal</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link th:href="@{/vendor/magnific-popup/magnific-popup.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/creative.min.css}" rel="stylesheet">

  </head>

  <body id="page-top">

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
      fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	  
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Szerelemlakat fal</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/}">Főoldal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/user/profil}" sec:authorize="isAuthenticated()">Profil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/login/facebook}" sec:authorize="isAnonymous()">Bejelentkezés</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/logout}" sec:authorize="isAuthenticated()">Kijelentkezés</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase text-dark" id="banner-title">
              <strong>Szerelem az örökké valóságnak</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="mb-5 text-dark" id="banner-text">"Amikor ma éjjel elalszol, ne feledd, hogy egyazon csillagok alatt fekszünk." - Shawn Mendes. </p>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-dark" id="about">
      <div class="container">
      	<div class="row">
  			<div class="col-md-8">
  				<img th:src="*{''+imageVoteModel.url}" class="img-responsive" width="400" height="400">
  			</div>
	        <div class="col-md-4 mx-auto bg-light text-dark rounded" id="user-simple-information">
	        	<header>
	        		<span><b>Lakat aláírás:</b></span>
	        		<p th:text="${imageVoteModel.description}"></p>
	        	</header><hr class="dark my-4">
	        	<div>
	        		<div
	        			class="fb-like"
	        			th:attr="data-href='https://localhost:8443/public/public_picture/'+${imageVoteModel.secondaryId}"
	        			data-layout="standard" 
	        			data-action="like" 
	        			data-size="small" 
	        			data-show-faces="true" 
	        			data-share="true">
	        		</div>
	        	</div>
	        </div>    
        </div>
      </div>
    </section>
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Kérdésed van? Az alábbi elérhetőségen keresztül tudsz nekünk üzenni.</h2>
            <hr class="my-4">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:szerelemlakatfal@gmail.com">szerelemlakatfal@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/vendor/scrollreveal/scrollreveal.min.js}"></script>
    <script th:src="@{/vendor/magnific-popup/jquery.magnific-popup.min.js}"></script>

    <!-- Custom scripts for this template -->
    <script th:src="@{/js/creative.min.js}"></script>

  </body>

</html>
