<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
	</head>
	<body>
		<script>
			  window.fbAsyncInit = function() {
			    FB.init({
			      appId            : '207685563170354',
			      autoLogAppEvents : true,
			      xfbml            : true,
			      version          : 'v3.0'
			    });
			  };
			
			  (function(d, s, id){
			     var js, fjs = d.getElementsByTagName(s)[0];
			     if (d.getElementById(id)) {return;}
			     js = d.createElement(s); js.id = id;
			     js.src = "https://connect.facebook.net/en_US/sdk.js";
			     fjs.parentNode.insertBefore(js, fjs);
			   }(document, 'script', 'facebook-jssdk'));
			</script>
		<ul>
			<li><a th:href="@{/}">Főoldal</a></li>
			<li><a th:href="@{/user/profil}">Profil</a></li>
			<li><a th:href="@{/user/vote}">Szavazás</a></li>
		</ul>
		<h1>Szavazz az általad vélt legjobb képre!</h1>
		<div>
			<form th:action="@{/logout}" method="POST">
				
				<p><button type="submit">Logout</button></p>
			</form>
		</div>	
		<div>
				<div th:each="primaryCollection : ${primaryPhotoCollectionToVote}">
					<img th:src="${primaryCollection.imageUrl}" width="300" height="300"/>
					<a th:href="@{/vote/likePhoto/{imageId} (imageId = ${primaryCollection.id})}"><span>Tetszik</span></a>
					<label>Szavazatok száma: <span th:text="${primaryCollection.numberOfVotes}"> </span></label>
					<div id="shareBtn" class="btn btn-success clearfix">Share</div>
					<script th:inline="javascript">
						/*<![CDATA[*/
					    var url = "https://localhost:8443/vote/likePhoto/"+ /*[[${primaryCollection.id}]]*/;
						
						console.log(url);
					    
					    document.getElementById('shareBtn').onclick = function() 
						{
					    	FB.ui({
					    	    method: 'share_open_graph',
					    	    action_type: 'og.shares',
					    	    action_properties: JSON.stringify({
					    	        object : {
					    	           'og:url':url,
					    	           'og:title':'Test Title',
					    	           'og:description':'Dialogs provide a simple, consistent interface for applications to interface with users.',
					    	           'og:og:image:width':'2560',
					    	           'og:image:height':'960',
					    	           'og:image': "https://3a09223b3cd53870eeaa-7f75e5eb51943043279413a54aaa858a.ssl.cf3.rackcdn.com//business-features_12_0_temp-1424703531-54eb402b-620x348.jpg",
					    	        }
					    	    })
					    	});
						}

						/*]]>*/
					</script>
				</div>
		</div>
	</body>
</html>