#user-profile-picture{
	margin: 0 auto;
	margin-top: -200px;
	display: block;
}

#user-image-list{
	overflow: hidden;
	margin-top: 10px;
}

#user-image-list img{
	margin: 0 auto;
	display: block;
}

#user-simple-information{

}

#username{
	margin-left: 10px;
}
